
/*html{
    background-color: #272727;
}


h1{
    color: ;
}

h2{
    color: #A2A2A7;
}

div {
    color: #707070;
  }

.Footer{
    color: var(--unnamed-color-fafaf8);
    text-align: left;
    font: normal normal normal 18px/22px Helvetica Neue;
    letter-spacing: 0px;
    color: #FAFAF8;
    opacity: 1;
}*/